:root {
    font-family: Helvetica, Arial, Sans-serif;
}

body {
    display: flex;
    flex-flow: row wrap;
}

header {
    order: 0;
    flex: 0 1 100%;
    border-bottom: 1px solid black;
}

nav {
    order: 1;
}

main {
    order: 1;
}

footer {
    order: 2;
    flex: 0 1 100%;
}

article {
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    border-bottom: 1px dashed gray;
}
