<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
    <script
        src="https://cdn.jsdelivr.net/combine/npm/katex/dist/katex.min.js,npm/katex/dist/contrib/mathtex-script-type.min.js,npm/katex/dist/contrib/auto-render.min.js"
        defer="defer"
        onload='renderMathInElement(document.body, { delimiters: [{ left: "$$", right: "$$", display: true }, { left: "$", right: "$", display: false }] })'
    ></script>
</head>
<body>

<div class="container-lg px-3 my-5 markdown-body">
    <div id="nav"></div>
    <div id="main"> {{ content }} </div>
    <div id="ref"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" crossorigin="anonymous"></script>
<script>
    // Generate References from content
    var refs = document.querySelectorAll('div#main a');
    if (refs.length > 0) {
        var len = document.querySelector('div#main').textContent.length;
        var aLen = 0;
        var ol = document.createElement('ol'), li, a, div, quote;
        var loc = window.location;
        for (var i = 0; i < refs.length; i++) {
            a = refs[i];
            if (a.href === a.textContent) len -= a.textContent.length;
            else aLen += a.textContent.length;
            if (loc.hostname === a.hostname && loc.pathname === a.pathname) continue;
            var ref = {
                id: a.id,
                href: a.href,
                title: a.title || a.textContent,
                text: (loc.hostname === a.hostname ? '' : a.hostname) + a.pathname,
            };
            if (!ref.id) a.setAttribute('id', ref.id = 'ref-' + i);
            if (ref.title === ref.href) ref.title = '';
            if (ref.text.length > 50) {
                var ps = ref.text.split('/').filter(function(x) {return x;});
                if (ps.length > 2) ref.text = (
                    (loc.hostname === a.hostname ? '/' : '')
                    + ps[0] + '/.../' + ps[ps.length - 1]);
            }
            ol.appendChild(li = document.createElement('li'));
            li.innerHTML = (
                '<a href="#{id}">^</a> {title} <a href="{href}">{text}</a>'
                .replace(/{(.*?)}/g, function(_, k) {return ref[k]}));
        }
        if (aLen < len * 0.15) {
            div = document.getElementById('ref');
            div.innerHTML = '<h2 id="references"> References </h2>';
            div.appendChild(quote = document.createElement('blockquote'));
            quote.appendChild(ol);
        }
    }

    // Generate TOC from content
    anchors.add();
    var title = document.querySelector('div#main h1');
    if (title && anchors.elements.length >= 2) {
        if (!title.id) title.setAttribute('id', 'table-of-contents');
        var toc = document.createElement('ul');
        toc.setAttribute('class', 'border-left');
        var ul = toc, li, a;
        var curLv = 1, minLv = 9;
        for (var i = 0; i < anchors.elements.length; i++) {
            var h = anchors.elements[i];
            if (h.tagName.substr(0, 1).toLowerCase() !== 'h') continue;
            var lv = h.tagName.substr(1) - 0;
            if (minLv > lv) minLv = lv;
            for (; curLv < lv; curLv++) {
                li = ul.lastChild;
                if (!li) ul.appendChild(li = document.createElement('li'));
                li.appendChild(ul = document.createElement('ul'));
            }
            for (; curLv > lv; curLv--) ul = ul.parentNode.parentNode;
            ul.appendChild(li = document.createElement('li'));
            li.appendChild(a = document.createElement('a'));
            a.textContent = h.textContent;
            var anchor = h.querySelector('a.anchorjs-link');
            a.setAttribute('href', anchor.hash);
            anchor.hash = '#' + title.id;
        }
        if (minLv < 7) for (var lv = 1; lv < minLv; lv++) {
            li = toc.lastChild;
            ul = li.lastChild;
            toc.removeChild(li);
            while(ul.children.length) toc.appendChild(ul.firstChild);
        }
        title.parentNode.insertBefore(toc, title.nextSibling);
    }

    // Generate Navigator wrt the current location
    var crumbs = window.location.pathname.split('/').filter(function(x) {return x;});
    var href = window.location.origin;
    for (var i = 0; i < crumbs.length; i += 2) {
        crumbs[i] = {text: crumbs[i], href: (href += '/' + crumbs[i])};
        crumbs.splice(i, 0, '/');
    }
    crumbs.splice(-1, 1);
    crumbs.splice(0, 0,
        {text: "Roy", href: "https://github.com/cf020031308"},
        "'s ",
        {text: "site", href: window.location.origin},
    );
    for (var i = 0; i < crumbs.length; i++) {
        if (crumbs[i].href) crumbs[i] = '<a href="{href}">{text}</a>'.replace(
            /{(.*?)}/g, function(_, k) {return crumbs[i][k]});
    }
    document.getElementById('nav').innerHTML = '<p><strong>' + crumbs.join('') + '</strong></p>';
</script>

</body>
</html>
