<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
    <script
        src="https://cdn.jsdelivr.net/combine/npm/katex/dist/katex.min.js,npm/katex/dist/contrib/mathtex-script-type.min.js,npm/katex/dist/contrib/auto-render.min.js"
        defer="defer"
        onload='renderMathInElement(document.body, { delimiters: [{ left: "$$", right: "$$", display: true }, { left: "$", right: "$", display: false }] })'
    ></script>
    <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts-en.min.js"></script>
    <style>
        input { color: inherit; width: 0; outline: none; background-color: transparent; }
        .icon {
            color: #24292e; fill: currentColor;
            margin-left: 4px; margin-right: 4px;
            height: 16px;
        }
        a.wiki { color: black; text-decoration: underline dotted black; }
        .upside-down { transform: rotate(180deg); }
        .dark { color: #cbcbcb; background-color: #24292e; }
        .dark a { color: #29c5fa; }
        .dark a.wiki {color: #cbcbcb; text-decoration: underline dotted #cbcbcb; }
        .dark img { filter: grayscale(30%); }
        .dark .icon { color: #cbcbcb; }
        .dark tr { background-color: transparent !important; }
        .dark tr:nth-child(2n) { background-color: #293137 !important; }
        .dark pre { border-radius: 0 !important; background-color: #272822 !important; }
        .dark .highlight table td { padding: 5px; }
        .dark .highlight table pre { margin: 0; }
        .dark .highlight, .dark .highlight .w, .dark .highlight .o, .dark .highlight .ow, .dark .highlight .p, .dark .highlight .pi { color: #f8f8f2; }
        .dark .highlight .err { color: #272822; background-color: #f92672 !important; }
        .dark .highlight .c, .dark .highlight .ch, .dark .highlight .cd, .dark .highlight .cm, .dark .highlight .cpf, .dark .highlight .c1, .dark .highlight .cs { color: #75715e; }
        .dark .highlight .cp, .dark .highlight .nt, .dark .highlight .nn, .dark .highlight .nc, .dark .highlight .no { color: #f4bf75; }
        .dark .highlight .gi, .dark .highlight .s, .dark .highlight .sa, .dark .highlight .sb, .dark .highlight .sc, .dark .highlight .dl, .dark .highlight .sd, .dark .highlight .s2, .dark .highlight .sh, .dark .highlight .sx, .dark .highlight .s1, .dark .highlight .m, .dark .highlight .mb, .dark .highlight .mf, .dark .highlight .mh, .dark .highlight .mi, .dark .highlight .il, .dark .highlight .mo, .dark .highlight .mx, .dark .highlight .ss { color: #a6e22e; }
        .dark .highlight .gd { color: #f92672; }
        .dark .highlight .gh { color: #66d9ef; font-weight: bold; }
        .dark .highlight .k, .dark .highlight .kn, .dark .highlight .kp, .dark .highlight .kr, .dark .highlight .kv { color: #ae81ff; }
        .dark .highlight .kc, .dark .highlight .kt, .dark .highlight .kd { color: #fd971f; }
        .dark .highlight .sr { color: #a1efe4; }
        .dark .highlight .si, .dark .highlight .se { color: #cc6633; }
        .dark .highlight .na { color: #66d9ef; }
    </style>
</head>
<body>

<div class="container-lg px-3 my-5 markdown-body">
    <header id="header" class="d-flex">
        <form id="nav" action="#" class="d-flex flex-items-center flex-item-equal">
            <div id="home" class="text-bold flex-shrink-0"></div>
            <div id="folder" class="text-bold flex-shrink-0"></div>
            <input id="searchbar" class="flex-item-equal border-0" type="search" list="searchData" autocomplete="off" disabled />
        </form>
        <div id="menu">
			<svg class="icon d-none chart-data" viewBox="0 0 12 16" onclick="toggleChart()"><path fill-rule="evenodd" d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"/></svg>
			<svg class="icon d-none chart" viewBox="0 0 16 16" onclick="toggleChart()"><path fill-rule="evenodd" d="M16 14v1H0V0h1v14h15zM5 13H3V8h2v5zm4 0H7V3h2v10zm4 0h-2V6h2v7z"/></svg>
            <svg class="upside-down icon" viewBox="0 0 12 16" onclick="toggleTheme()"><path fill-rule="evenodd" d="M6.5 0C3.48 0 1 2.19 1 5c0 .92.55 2.25 1 3 1.34 2.25 1.78 2.78 2 4v1h5v-1c.22-1.22.66-1.75 2-4 .45-.75 1-2.08 1-3 0-2.81-2.48-5-5.5-5zm3.64 7.48c-.25.44-.47.8-.67 1.11-.86 1.41-1.25 2.06-1.45 3.23-.02.05-.02.11-.02.17H5c0-.06 0-.13-.02-.17-.2-1.17-.59-1.83-1.45-3.23-.2-.31-.42-.67-.67-1.11C2.44 6.78 2 5.65 2 5c0-2.2 2.02-4 4.5-4 1.22 0 2.36.42 3.22 1.19C10.55 2.94 11 3.94 11 5c0 .66-.44 1.78-.86 2.48zM4 14h5c-.23 1.14-1.3 2-2.5 2s-2.27-.86-2.5-2z"/></svg>
        </div>
    </header>
    <main>
        <div id="doc"> {{ content }} </div>
        <div id="ref"></div>
        <div id="wiki"></div>
    </main>
    <footer class="footer pt-1 mt-4 d-flex flex-justify-center" id="footer">
        <a href="https://github.com/cf020031308/cf020031308.github.io/issues?q=is%3Aissue+label%3Aarticle+is%3Aclosed+-label%3Aabort" alt="comment" title="comment of posts">
            <svg class="icon" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 1H6c-.55 0-1 .45-1 1v2H1c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h1v3l3-3h4c.55 0 1-.45 1-1V9h1l3 3V9h1c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zM9 11H4.5L3 12.5V11H1V5h4v3c0 .55.45 1 1 1h3v2zm6-3h-2v1.5L11.5 8H6V2h9v6z"/></svg>
        </>
        <a href="/blog/atom.xml" alt="rss" title="subscribe my blog">
            <svg class="icon" viewBox="0 0 10 16"><path fill-rule="evenodd" d="M2 13H0v-2c1.11 0 2 .89 2 2zM0 3v1a9 9 0 019 9h1C10 7.48 5.52 3 0 3zm0 4v1c2.75 0 5 2.25 5 5h1c0-3.31-2.69-6-6-6z"/></svg>
        </a>
        <a href="https://github.com/cf020031308/cf020031308.github.io/graphs/traffic" alt="traffic" title="stats of site">
            <svg class="icon" viewBox="0 0 14 16"><path fill-rule="evenodd" d="M11.5 8L8.8 5.4 6.6 8.5 5.5 1.6 2.38 8H0v2h3.6l.9-1.8.9 5.4L9 8.5l1.6 1.5H14V8h-2.5z"/></svg>
        </a>
        <a id="mdlink" href="" alt="markdown" title="view in markdown">
            <svg class="icon" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z"/></svg>
        </a>
        <a id="ghlink" href="https://github.com/cf020031308/cf020031308.github.io" alt="github" title="view on Github">
            <svg class="icon" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"/></svg>
        </a>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" crossorigin="anonymous"></script>
<script>
    var loc = window.location;
    var doc = document.getElementById('doc');

    // Chart: parse tables, append charts
    var tables = doc.querySelectorAll('table'), chartOptions = [];
    for (var i = 0; i < tables.length; i++) {
        var ths = tables[i].tHead;
        ths = ths && ths.children[0];
        ths = ths && ths.children;
        if (!ths || !ths[0]) continue;
        var trs = tables[i].tBodies[0];
        if (!trs) continue;
        trs = trs.children;

        // No chart is needed when table is small
        if (ths.length + trs.length < 7) continue;

        // Headcell format: '[xAxis[[\yAxis]\title]]'
        var meta = ths[0].textContent.trim();
        meta = meta && meta.split('\\');
        var xAxisName = meta[0] || '', yAxisName = '', chartTitle = meta[1] || '';
        if (meta.length > 2) {
            yAxisName = chartTitle;
            chartTitle = meta.slice(2).join('\\');
        }

        // Series format: [+-.]serie
        var series = [], stacks = {};
        var stack = undefined, serieType = 'bar';
        for (var j = 1; j < ths.length; j++) {
            var th = ths[j].textContent.trim();
            var serieName = th.substr(['+', '-', '.'].includes(th[0]));
            if (th[0] === '+') stacks[stack] = true;
            else {
                stack = serieName;
                serieType = {'-': 'line', '.': 'scatter'}[th[0]] || 'bar';
            }
            series.push({name: serieName, type: serieType, stack: stack, data: []});
        }

        var xNames = [];
        var xNameAllNum = true, yAllNum = true;
        var allNumByX = [], allNumByY = [];
        for (var j = 0; j < trs.length; j++) {
            allNumByX[j] = true;
            tr = trs[j].children;
            var x = tr[0].textContent.trim();
            if ((x - 0) != x) xNameAllNum = false;
            xNames.push(x);
            for (var k = 0; k < tr.length - 1; k++) {
                var y = tr[k + 1].textContent.trim();
                if ((y - 0) != y) {
                    allNumByX[j] = allNumByY[k] = false;
                    yAllNum = false;
                } else if (allNumByY[k] === undefined) allNumByY[k] = true;
                series[k].data.push(y);
            }
        }

        var option = {};
        if (!yAllNum) {
            if (xAxisName !== '*') continue;
            // Parallel
            option = {
                legend: { icon: 'line' },
                parallelAxis: [],
                parallel: { left: '15%', parallelAxisDefault: { nameLocation: 'start' } },
                series: series,
            };
            for (var j = 0; j < xNames.length; j++) option.parallelAxis.push({
                dim: j, name: xNames[j], type: allNumByX[j] ? 'value' : 'category' });
            for (var k = 0; k < series.length; k++) {
                series[k].type = 'parallel';
                series[k].data = [series[k].data];
                series[k].lineStyle = { normal: { opacity: 1 } };
            };
        } else if (xAxisName === '*') {
            // Radar
            option = {
                legend: { icon: 'diamond' },
                radar: {
                    indicator: [],
                    radius: [0, '50%'],
                    splitArea: { show: false },
                    splitLine: { show: false },
                },
                series: series,
            };
            for (var j = 0; j < xNames.length; j++)
                option.radar.indicator.push({ name: xNames[j] });
            for (var k = 0; k < series.length; k++) {
                series[k].type = 'radar';
                series[k].data = [{ name: series[k].name, value: series[k].data }];
            };
        } else if (xNames.length === 1) {
            // Pie
            option = {
                series: {
                    type: 'pie',
                    radius: [0, '50%'],
                    label: { formatter: '{b}:\n({d}%)' },
                    data: series
                },
            };
            for (var k = 0; k < series.length; k++)
				series[k].value = series[k].data[0];
        } else {
            // Barline
            option = {
                tooltip: { trigger: 'axis' },
                xAxis: {
                    type: xNameAllNum ? 'value' : 'category',
                    name: xAxisName,
                    boundaryGap: false,
                    data: xNames,
                },
                yAxis: { name: yAxisName, splitLine: { show: false } },
                series: series,
            };
            for (var k = 0; k < series.length; k++) {
                if (series[k].type === 'bar') option.xAxis.boundaryGap = true;
                if (series[k].type === 'line' && stacks[series[k].stack]) {
                    series[k].areaStyle = {};
                }
            }
        }
        (option.title = option.title || {}).text = chartTitle;
        option.title.left = 'center';
        (option.tooltip = option.tooltip || {}).confine = true;
        (option.grid = option.grid || {}).containLabel = true;
		(option.legend = option.legend || {}).type = 'scroll';
		option.legend.bottom = 'bottom';
		if (series.length == 1) option.legend.show = false;
        option.backgroundColor = 'transparent';
        chartOptions.push(JSON.stringify(option));

        var chart = document.createElement('div');
        chart.className = 'chart';
		tables[i].classList.add('chart-data');
        tables[i].parentNode.insertBefore(chart, tables[i].nextSibling);
    }

    // Dark theme
    var isDark = false;
	var showChart = false;
    function loadChart() {
        if (!showChart) return;
        var charts = document.querySelectorAll('div.chart');
        for (var i = 0; i < charts.length; i++) {
            echarts.dispose(charts[i]);
            echarts.init(
                charts[i],
                isDark ? 'dark': 'light',
                {height: Math.min(380, doc.clientWidth * 0.618)}
            ).setOption(JSON.parse(chartOptions[i]));
        }
    }
    function toggleTheme() {
        isDark = !isDark;
		document.body.classList.toggle('dark');
        loadChart();
        return isDark;
	}
	function toggleChart() {
        if (chartOptions.length) {
            showChart = !showChart;
            var charts = document.getElementsByClassName('chart');
            var tables = document.getElementsByClassName('chart-data');
            if (showChart) {
                for (var i = 0; i < charts.length; i++)
                    charts[i].classList.remove('d-none');
                for (var i = 0; i < tables.length; i++)
                    tables[i].classList.add('d-none');
            } else {
                for (var i = 0; i < charts.length; i++)
                    charts[i].classList.add('d-none');
                for (var i = 0; i < tables.length; i++)
                    tables[i].classList.remove('d-none');
            }
            loadChart();
        }
        return showChart;
	}
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) toggleTheme(); 
    toggleChart();

    // If there is no title, enlarge the header
    if (!doc.querySelector('h1')) {
        var title = document.createElement('h1');
        title.appendChild(document.getElementById('header'));
        doc.insertBefore(title, doc.firstChild);
    }

    // Link to the plaintext file and the file in the repo
    var ghlink = document.getElementById('ghlink');
    var repo = ghlink.href
    var mdlink = document.getElementById('mdlink');
    if (loc.pathname.endsWith('/')) {
        mdlink.href = loc.pathname + 'readme.md';
    } else if (loc.pathname.endsWith('/index.html')) {
        mdlink.href = loc.pathname.split('/').slice(0, -1).join('/') + 'readme.md';
    } else if (loc.pathname.endsWith('.html')) {
        mdlink.href = loc.pathname.substr(0, loc.pathname.length - 4) + 'md';
    } else {
        mdlink.href = loc.pathname + '.md';
    }
    ghlink.href += '/blob/master' + mdlink.pathname;

    var isIndex = false;
    // References: generated from content
    var as = doc.querySelectorAll('a');
    if (as.length > 0) {
        // Prepare links info
        var aLen = 0, rs = {}, rlinks = [];
        for (var i = 0; i < as.length; i++) {
            var a = as[i];
            aLen += a.textContent.length;
            if (loc.hostname === a.hostname && loc.pathname === a.pathname) continue;
            var cite = a.href === a.textContent ? (a.title || '') : a.textContent;
            var href = (loc.hostname === a.hostname ? '' : a.origin) + a.pathname;
            if (!rs[href]) {
                rs[href] = {};
                rlinks.push(href);
            }
            if (!rs[href][cite]) rs[href][cite] = [];
            rs[href][cite].push(a.id = (a.id || ('ref-' + i)));
        }

        // No need to give references if the whole page is an index
        isIndex = aLen > doc.textContent.length * 0.3;
        if (!isIndex) {
            var ref = document.getElementById('ref');
            var ol = document.createElement('ol'), li, quote;
            ref.innerHTML = '<h2 id="references"> References </h2>';
            ref.appendChild(quote = document.createElement('blockquote'));
            quote.appendChild(ol);
            rlinks.sort();
            for (var i = 0; i < rlinks.length; i++) {
                ol.appendChild(li = document.createElement('li'));
                var abbr = href = rlinks[i];
                var schemeEnd = abbr.indexOf('://');
                if (schemeEnd > -1) abbr = abbr.substr(schemeEnd + 3);
                if (abbr.length > 50) {
                    var ps = abbr.split('/').filter(function(x) {return x;});
                    if (ps.length > 2) abbr = (
                        (abbr.substr(0, 1) === '/' ? '/' : '')
                        + ps[0] + '/.../' + ps[ps.length - 1]);
                }
                li.innerHTML = '<a href="' + href + '">' + abbr + '</a>';
                for (var cite in rs[href]) li.innerHTML += (
                    ' \'' + cite + ' <a href="#'
                    + rs[href][cite].join('">^</a> <a href="#') + '">^</a>\'');
            }
        }
    }

    // Navigator & SearchBar: generated wrt sitemap.xml and the current location
    // rels will be Populated with uris from sitemap.xml later
    var rels = [];

    var searchbar = document.getElementById('searchbar');
    // If the input value matches any uri, go to it
    var onSelect = function() {
        var val = searchbar.value;
        if (val && ((!rels.includes) || rels.includes(val) || rels.includes(val + '/') || rels.includes(val + '.html'))) {
            window.stop();
            loc.href = loc.origin + '/' + val;
            return true;
        }
    }
    searchbar.onchange = onSelect;
    var nav = document.getElementById('nav');
    // If the input value does not match any uri, query it with Github
    nav.onsubmit = function() {
        if (searchbar.value && !onSelect()) window.open(
            repo + '/search?q=' + searchbar.value, '_blank');
        return false;
    }

    var href = loc.origin;
    var crumbs2html = function(crumbs) {
        var html = '';
        for (var i = 0; i < crumbs.length; i++) html += (
            crumbs[i].href ?
            '<a href="{href}">{text}</a>'.replace(
                /{(.*?)}/g, function(_, k) {return crumbs[i][k]}) :
            crumbs[i]
        );
        return html;
    }

    // First part of the nav: "Roy's home/"
    var nav1 = document.getElementById('home');
    nav1.innerHTML = crumbs2html([
        {text: "Roy", href: "https://github.com/cf020031308"},
        "'s ",
        {text: "home", href: href},
        '/',
    ]);

    // Second part of the nav: the current location
    var nav2 = document.getElementById('folder');
    var pos = '';
    var crumbs = loc.pathname.split('/').filter(function(x) {return x;});
    for (var i = 0; i < crumbs.length; i++) crumbs[i] = {
        text: crumbs[i], href: (href += '/' + crumbs[i])};
    for (var i = crumbs.length - 1; i > 0; i--) crumbs.splice(i, 0, '/');
    if (crumbs.length) searchbar.placeholder = pos = crumbs.pop().text;
    nav2.innerHTML = crumbs2html(crumbs);
    // Toggle nav2 when searching
    searchbar.onfocus = function() {
        searchbar.placeholder = nav2.textContent + pos;
        nav2.classList.add('d-none');
    }
    searchbar.onblur = function() {
        searchbar.value = '';
        searchbar.placeholder = pos;
        nav2.classList.remove('d-none');
    }

    // Recommend related wiki after sitemap.xml is loaded
    var recommendWiki = function() {
        // Build inverted index
        var inv = {}, kwds = [], stopWords = [];
        var scores = new Array(rels.length);
        for (var i = 0; i < rels.length; i++) {
            var uri = '/' + rels[i];
            if (uri === loc.pathname) continue;
            if (!uri.startsWith('/wiki/')) continue;
            var fname = uri.split('/').filter(function(x) { return x; }).slice(-1).pop();
            if (fname.indexOf('.') !== -1) fname = fname.split('.').slice(0, -1).join('.');
            scores[i] = {value: 0, uri: uri, fname: fname};
            fname.replace(/\b\w{2,}\b/gi, function(m) {
                m = m.toLowerCase();
                if (!inv[m]) {
                    inv[m] = [];
                    kwds.push(m);
                }
                inv[m].push(i);
            });
        }

        // Score the keywords based on overlap with doc stripped off urls
        doc.textContent.replace(/(?:(https?|ftp|file):)?\/\/[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]/gi, '').replace(
            new RegExp('\\b(' + kwds.join('|') + ')\\b', 'gi'),
            function(m) {
                m = m.toLowerCase()
                if (stopWords.includes(m)) return;
                for (var i = 0; i < inv[m].length; i++) {
                    scores[inv[m][i]].value += m.length;
                }
            }
        );
        scores = scores.filter(function(x) { return x && (x.value > 0); });

        if (scores.length) {
            // Add wiki links into doc (ignoring A and PRE tag)
            var re = '';
            for (var i = 0; i < scores.length; i++) re += scores[i].fname.replace(/[-_]/g, '.') + '|';
            re = new RegExp('\\b(' + re.substr(0, re.length - 1) + ')\\b', 'gi');
            var replacer = function(m) {
                var s = scores.find(function(s) {
                    return m.toLowerCase().replace(/\W/g, '-') === s.fname.toLowerCase(); });
                if (s) {
                    s.used = true;
                    return '<a class="wiki" href="' + s.uri + '" target="_blank">' + m + '</a>';
                }
                return m;
            }
            var html = '', pos = 0;
            doc.innerHTML.replace(/<(pre|a)[ >].*?<\/\1>|<.*?>/gi, function(m, _, p) {
                if (pos != p) html += doc.innerHTML.substring(pos, p).replace(re, replacer);
                pos = p + m.length;
                html += m;
            })
            doc.innerHTML = html + doc.innerHTML.substring(html.length).replace(re, replacer);

            // Append at most 4 related but not linked wiki pages
            scores = scores.filter(function(x) { return !x.used; });
            if (scores.length) {
                scores.sort(function(x, y) { return y.value - x.value; });
                var ol, li, wiki = document.getElementById('wiki');
                wiki.innerHTML = '<h2 id="related-wiki"> See also </h2>';
                wiki.appendChild(ol = document.createElement('ol'));
                for (var i = 0; i < Math.min(4, scores.length); i++) {
                    ol.appendChild(li = document.createElement('li'));
                    li.appendChild(a = document.createElement('a'));
                    a.href = scores[i].uri;
                    a.textContent = scores[i].fname;
                }
            }
        }
    }

    // TOC: generated from content (if there are there or more headers)
    var generateTOC = function() {
        anchors.add();
        var title = doc.querySelector('h1');
        if (title && anchors.elements.length < 4) return;
        if (!title.id) title.id = 'table-of-contents';
        var toc = document.createElement('ul');
        var ul = toc, li, a;
        var curLv = 1, minLv = 9;
        for (var i = 0; i < anchors.elements.length; i++) {
            var h = anchors.elements[i];
            if (h.tagName.substr(0, 1).toLowerCase() !== 'h') continue;
            var lv = h.tagName.substr(1) - 0;
            if (minLv > lv) minLv = lv;
            for (; curLv < lv; curLv++) {
                li = ul.lastChild;
                if (!li) ul.appendChild(li = document.createElement('li'));
                li.appendChild(ul = document.createElement('ul'));
            }
            for (; curLv > lv; curLv--) ul = ul.parentNode.parentNode;
            ul.appendChild(li = document.createElement('li'));
            li.appendChild(a = document.createElement('a'));
            a.textContent = h.textContent;
            var anchor = h.querySelector('a.anchorjs-link');
            a.href = anchor.hash;
            // Link back to title
            anchor.hash = '#' + title.id;
        }

        // Unindent TOC
        if (minLv < 7) for (var lv = 1; lv < minLv; lv++) {
            li = toc.lastChild;
            ul = li.lastChild;
            toc.removeChild(li);
            while(ul.children.length) toc.appendChild(ul.firstChild);
        }
        title.parentNode.insertBefore(
            quote = document.createElement('blockquote'), title.nextSibling);
        quote.appendChild(toc);
        return quote;
    }

    // Load sitemap.xml
    var req = new XMLHttpRequest();
    req.open('get', '/sitemap.xml', true);
    req.onload = function() {
        if (req.responseXML) {
            var opt, searchData = document.createElement('datalist');
            searchData.id = 'searchData';
            var locs = req.responseXML.querySelectorAll('loc');
            for (var i = 0; i < locs.length; i++) rels.push(
                decodeURI(locs[i].textContent).split('/').slice(3).join('/'));
            rels.sort();
            for (var i = 0; i < rels.length; i++) {
                searchData.appendChild(opt = document.createElement('option'));
                opt.value = rels[i];
            }
            searchbar.parentNode.insertBefore(searchData, searchbar);
            searchbar.placeholder = searchbar.placeholder || 'touch me!';
            searchbar.disabled = false;
            if (rels.length && !isIndex) recommendWiki();
        }
        generateTOC();
    }
    req.send();
</script>

</body>
</html>
