<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
    <script
        src="https://cdn.jsdelivr.net/combine/npm/katex/dist/katex.min.js,npm/katex/dist/contrib/mathtex-script-type.min.js,npm/katex/dist/contrib/auto-render.min.js"
        defer="defer"
        onload='renderMathInElement(document.body, { delimiters: [{ left: "$$", right: "$$", display: true }, { left: "$", right: "$", display: false }] })'
    ></script>
</head>
<body>

<div class="container-lg px-3 my-5 markdown-body">
    <form id="nav" action="#" onsubmit="return searchSelect() || searchQuery()">
        <input id="searchbar" class="border-0 bg-white" type="search" list="searchData" autocomplete="off" style="flex-grow: 1; outline: none" onfocus="searchFocus()" onblur="searchBlur()" onchange="searchSelect()" disabled />
    </form>
    <div id="main"> {{ content }} </div>
    <div id="ref"></div>
    <div id="wiki"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" crossorigin="anonymous"></script>
<script>
    // Generate References from content
    var isIndex = false;
    var loc = window.location;
    var as = document.querySelectorAll('div#main a');
    var content = document.querySelector('div#main').textContent;
    if (as.length > 0) {
        var len = content.length;
        var aLen = 0;
        var ol = document.createElement('ol'), li, a, quote;
        for (var i = 0; i < as.length; i++) {
            a = as[i];
            if (a.href === a.textContent) len -= a.textContent.length;
            else aLen += a.textContent.length;
            if (loc.hostname === a.hostname && loc.pathname === a.pathname) continue;
            var r = {
                id: a.id,
                href: a.href,
                title: a.title || a.textContent,
                text: (loc.hostname === a.hostname ? '' : a.hostname) + a.pathname,
            };
            if (!r.id) a.setAttribute('id', r.id = 'ref-' + i);
            if (r.title === r.href) r.title = '';
            if (r.text.length > 50) {
                var ps = r.text.split('/').filter(function(x) {return x;});
                if (ps.length > 2) r.text = (
                    (loc.hostname === a.hostname ? '/' : '')
                    + ps[0] + '/.../' + ps[ps.length - 1]);
            }
            ol.appendChild(li = document.createElement('li'));
            li.innerHTML = (
                '<a href="#{id}">^</a> {title} <a href="{href}">{text}</a>'
                .replace(/{(.*?)}/g, function(_, k) {return r[k]}));
        }
        isIndex = aLen > len * 0.15;
        if (!isIndex) {
            var ref = document.getElementById('ref');
            ref.innerHTML = '<h2 id="references"> References </h2>';
            ref.appendChild(quote = document.createElement('blockquote'));
            quote.appendChild(ol);
        }
    }

    // Generate TOC from content
    anchors.add();
    var title = document.querySelector('div#main h1');
    if (title && anchors.elements.length >= 3) {
        if (!title.id) title.setAttribute('id', 'table-of-contents');
        var toc = document.createElement('ul');
        toc.setAttribute('class', 'border-left');
        var ul = toc, li, a;
        var curLv = 1, minLv = 9;
        for (var i = 0; i < anchors.elements.length; i++) {
            var h = anchors.elements[i];
            if (h.tagName.substr(0, 1).toLowerCase() !== 'h') continue;
            var lv = h.tagName.substr(1) - 0;
            if (minLv > lv) minLv = lv;
            for (; curLv < lv; curLv++) {
                li = ul.lastChild;
                if (!li) ul.appendChild(li = document.createElement('li'));
                li.appendChild(ul = document.createElement('ul'));
            }
            for (; curLv > lv; curLv--) ul = ul.parentNode.parentNode;
            ul.appendChild(li = document.createElement('li'));
            li.appendChild(a = document.createElement('a'));
            a.textContent = h.textContent;
            var anchor = h.querySelector('a.anchorjs-link');
            a.setAttribute('href', anchor.hash);
            anchor.hash = '#' + title.id;
        }
        if (minLv < 7) for (var lv = 1; lv < minLv; lv++) {
            li = toc.lastChild;
            ul = li.lastChild;
            toc.removeChild(li);
            while(ul.children.length) toc.appendChild(ul.firstChild);
        }
        title.parentNode.insertBefore(toc, title.nextSibling);
    }

    // Generate Navigator wrt the current location
    var href = loc.origin;
    var crumbs2html = function(crumbs) {
        var html = '';
        for (var i = 0; i < crumbs.length; i++) html += (
            crumbs[i].href ?
            '<a href="{href}">{text}</a>'.replace(
                /{(.*?)}/g, function(_, k) {return crumbs[i][k]}) :
            crumbs[i]
        );
        return html;
    }
    var nav = document.getElementById('nav'), nav1, nav2;
    var searchbar = document.getElementById('searchbar');
    if (!title) {
        nav.appendChild(nav = document.createElement('h1'));
        nav.appendChild(searchbar);
    }
    nav.style = "display: flex; align-items: center";
    nav.insertBefore(nav1 = document.createElement('strong'), searchbar);
    nav1.innerHTML = crumbs2html([
        {text: "Roy", href: "https://github.com/cf020031308"},
        "'s ",
        {text: "home", href: href},
        '/',
    ]);
    nav1.style = "flex-shrink: 0";
    var crumbs = loc.pathname.split('/').filter(function(x) {return x;});
    for (var i = 0; i < crumbs.length; i++) crumbs[i] = {
        text: crumbs[i], href: (href += '/' + crumbs[i])};
    for (var i = crumbs.length - 1; i > 0; i--) crumbs.splice(i, 0, '/');
    var pos = crumbs.length ? crumbs.pop().text : 'touch me!';
    nav.insertBefore(nav2 = document.createElement('strong'), searchbar);
    nav2.innerHTML = crumbs2html(crumbs);
    nav2.style = "flex-shrink: 0";

    // Recommend related wiki after sitemap.xml is loaded
    var uris = [];
    var recommendWiki = function() {
        var inv = {}, words = [];
        var stopWords = ['html', 'github'];
        var scores = new Array(uris.length);
        var re = /\b\w{2,}\b/gi;
        for (var i = 0; i < uris.length; i++) {
            var uri = uris[i];
            scores[i] = {value: 0, uri: uri};
            if ('/' + uri === loc.pathname) continue;
            if (!uri.startsWith('wiki/')) continue;
            uri.substr(5).replace(re, function(m) {
                m = m.toLowerCase();
                if (!inv[m]) {
                    inv[m] = [];
                    words.push(m);
                }
                inv[m].push(i);
            });
        }
        content.replace(
            new RegExp('\\b(' + words.join('|') + ')\\b', 'gi'),
            function(m) {
                m = m.toLowerCase()
                if (stopWords.includes(m)) return;
                for (var i = 0; i < inv[m].length; i++) {
                    scores[inv[m][i]].value += m.length;
                }
            }
        );
        scores.sort(function(x, y) { return y.value - x.value; });
        if (scores[0].value) {
            var ol, li, wiki = document.getElementById('wiki');
            wiki.innerHTML = '<h2 id="related-wiki"> Related Wiki </h2>';
            wiki.appendChild(ol = document.createElement('ol'));
            for (var i = 0; i < 4; i++) {
                if (scores[i].value === 0) break;
                ol.appendChild(li = document.createElement('li'));
                li.appendChild(a = document.createElement('a'));
                var uri = scores[i].uri;
                a.setAttribute('href', '/' + uri);
                a.textContent = uri.substr(
                    5, uri.length - (uri.endsWith('.html') ? 10 : 5));
            }
        }
    }

    // Create searchbar according to sitemap.xml
    searchbar.placeholder = pos;
    var req = new XMLHttpRequest();
    req.open('get', '/sitemap.xml', true);
    req.onload = function() {
        var opt, searchData = document.createElement('datalist');
        searchData.setAttribute('id', 'searchData');
        var locs = req.responseXML.querySelectorAll('loc');
        for (var i = 0; i < locs.length; i++) uris.push(
            decodeURI(locs[i].textContent).split('/').slice(3).join('/'));
        uris.sort();
        for (var i = 0; i < uris.length; i++) {
            searchData.appendChild(opt = document.createElement('option'));
            opt.setAttribute('value', uris[i]);
        }
        searchbar.parentNode.insertBefore(searchData, searchbar);
        searchbar.disabled = false;
        if (uris.length && !isIndex) recommendWiki();
    }
    function searchQuery() {
        if (searchbar.value) window.open(
            'https://github.com/cf020031308/cf020031308.github.io/search?q='
            + searchbar.value,
            '_blank'
        );
        return false;
    }
    function searchSelect() {
        if (searchbar.value && ((!uris.includes) || uris.includes(searchbar.value))) {
            window.stop();
            loc.href = loc.origin + '/' + searchbar.value;
        }
        return false;
    }
    function searchFocus() {
        searchbar.placeholder = nav2.textContent + pos;
        if (nav2.parentNode) nav.removeChild(nav2);
    }
    function searchBlur() {
        searchbar.value = '';
        searchbar.placeholder = pos;
        if (!nav2.parentNode) nav.appendChild(nav2);
    }
    req.send();
</script>

</body>
</html>
