snippet date
	`system("date +'%Y-%m-%d %H:%M'")`
snippet \sum
	\sum\limits_{${1:}}^{${2:}} $0
snippet \max
	\max\limits_{${1:}} $0
snippet \min
	\min\limits_{${1:}} $0
snippet \argmax
	\mathop{\arg\max}\limits_{${1:}} $0
snippet \frac
	\frac{${1:}}{${2:}} $0
snippet \partial
	\frac{\partial{${1:}}}{\partial{${2:}}} $0
snippet nlp
	自然语言处理
