snippet atom
	<entry>
		<title>${1:Untitled}</title>
		<link href="https://github.com/cf020031308/cf020031308.github.io/blob/master/${2:}" />
		<id> `system("uuidgen")` </id>
		<published> `system("date -u +'%Y-%m-%dT%H:%M:%SZ'")` </published>
		<thumbnail src="${3:}"><thumbnail>
		<summary><![CDATA[${4:}]]></summary>
		<comment href="https://github.com/cf020031308/cf020031308.github.io/issues/${5:}" />
	</entry>
